<ion-header>
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Usuarios</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>      
      <div *ngIf="usuarios">
        <ion-list *ngFor="let usuario of usuarios">
          <ion-item>
            <ion-label>{{usuario.nombre}} - {{ usuario.edad }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <ion-button shape="round" (click)="obtenerUsuarios()">Obtener Usuarios</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Usuario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- Inputs with labels -->
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="nuevoUsurio.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input [(ngModel)]="nuevoUsurio.edad"></ion-input>
      </ion-item>
      <ion-button shape="round" (click)="crearUsuario()">Crear</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button shape="round" (click)="obtenerUbicacion()">Obtener Ubicacion</ion-button>
</ion-content>
